<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f2f2f3">
  <div class="container">
    <a class="" href="#"><img src="assets/logo.png"/></a>
  </div>
</nav>
<div class="container">
    <div class="row">
    <div class="col-sm-4" >
      <img src="assets/ap.jpg" class="img-thumbnail img-main"/>
    </div>
    <div class="col-sm-7">
      <h1 class="primary-text">Hi, I'm Anup.</h1>
      <h4 class="primary-text mb-4">Full-Stack Developer currently working in Lansing,MI</h4>
      <p>Here's what you should know about me.</p>
      <h3 class="primary-text mt-2 mb-3">I love to learn.</h3>
      <p>
        I learn & improvise my skills in .Net Technologies, Sql, Angular, 
        MongoDB, AWS, Azure, RabbitMq, Golang, BlockChain, State-of-art Javascript Frameworks.
      </p>
      <p>
        Enthusiastic to discuss & share with people who like to Code, watch lot of Movies.
      </p>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
       <h3 class="primary-text mt-2 mb-3">I'm a Good Team Player.</h3>
       <p>I would like to make an actual difference in organisation or people, working as a Team.
         I try to understand the strengths and weaknesses, clearly communicate and share ideas to work productively.
       </p>
       <p></p>
    </div>
  </div>
</div>

